body{
  margin-bottom:48px;
  margin-top:0;
  margin-left:0;
  margin-right:0
}
.container-1 {
    background-color:rgb(19, 19, 73);
    margin:0;
}

.button-1 {
padding: 8px px; 
border-radius:8px; 
}
button.extra-info {
    color:white; 
    background-color:royalblue;
}
.container-2 {
padding:8px;   
}
.container-3 {
display:flex;
height:300px;
align-content:center;
justify-content:center;
flex-wrap: wrap;
background-color: rgb(212, 208, 208);
}
.container-4{
    display:flex;
    height:300px;
}
 
.header {
    font-size: 16px;
    align-content:center;
    justify-content:center;
    display:flex;
}
.logo{
    width:300px; 
    height:auto;
}
.header, .header-links {
    justify-content: space-between;
    margin:0; 
    padding:0;
    color:white;
}
.header-links {
     align-items: flex-end;
    justify-content: end;
    flex-direction:row;
    
    
}
.box-1 {
    display:flex;
    justify-content:space-between;
    align-content: center;

}
.right-box {
    display:flex;
    align-content:flex-end;
    justify-content:space-between;



}
.left-box {
padding:100px;
color:white;
}
.world {
    font-size:48px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.hero-classes {
 display:flex; 
 flex-direction: row;
 align-content:center;
 justify-content:center;
 margin:24px;
 font-size: 48px;
 font-weight: 700;
 
}
.hero-images-text {
    display:flex;
    gap:16px;
    justify-content: space-between;
    font-family: sans-serif;
}
   
.s-img, .a-img, .b-img, .c-img {
    display:flex; 
    height:300px; 
    width:300px;
    border-color:rgb(38, 120, 228);
    border-radius:10px;
    border-style:groove;
    border-width: 10px;
    flex-wrap: wrap;
}
.a-class {
    display:flex;
    align-content:flex-start;
    flex-direction: column;
}
.mumen-quote {
    font-size: 48px;
    font-style: italic;
}
.mumen-credit {
    font-size:16px;
    font-weight: 700;
}
ul {
display:flex;
list-style:none ;
justify-content:space-between;
gap:16px;

}
a {
    text-decoration: none;
    color: white;
}