
.container-1 {
    background-color:rgb(19, 19, 73);
    margin:0;
}
.container-2 {
    margin:50px;
}
.button-1 {
padding: 8px px; 
border-radius:8px; 
}
button.extra-info {
    color:white; 
    background-color:royalblue;
}
.container-2 {
    display:flex; 
    align-content:center;
    gap:16px;
   }
.header {
    font-size: 16px;
    align-content:center;
    justify-content:center;
    display:flex;
}
.logo{
    width:300px; 
    height:auto;
}
.header, .header-links {
    justify-content: space-between;
    margin:0; 
    padding:0;
    color:white;
}
.header-links {
     align-items: flex-end;
    justify-content: end;
    flex-direction:row;
    
    
}
.right-box {
display:flex;
align-items: flex-end;
justify-content:flex-end;
height:300px;

}
.left-box {

flex:1;
width:500px;
height:auto;
align-content: center;
justify-content: center;
color:white;
}

.hero-classes {
 display:flex; 
 flex-direction: row;
 
}
   
.s-img, .a-img, .b-img, .c-img {
    display:flex; 
    height:300px; 
    width:300px;
    border-color: aqua;
    border-radius: 20px;
}
.a-class {
    display:flex;
    align-content:flex-start;
    flex-direction: column;
}
ul {
display:flex;
list-style:none ;
justify-content:space-between;
gap:16px;

}
a {
    text-decoration: none;
    color: white;
}